<h2> Загрузка библиотек и данных</h2>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split

In [ ]:
data = pd.read_csv('X_train.csv')
data_ans = pd.read_csv('y_train.csv')
data_for_test = pd.read_csv('X_test.csv')

<h2> Первичная обработка </h2>

In [ ]:
data.columns

Index(['Unnamed: 0', 'Avg. Area Income', 'Avg. Area House Age',
       'Avg. Area Number of Rooms', 'Avg. Area Number of Bedrooms',
       'Area Population', 'Address'],
      dtype='object')

In [ ]:
data.head(5)

,Unnamed: 0,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Address
0,0,71043.313249,6.046182,6.095862,3.34,20763.604137,"80638 Samantha Village\nNorth Anthony, KS 5865..."
1,1,65632.925982,6.420381,5.929531,4.43,42803.221409,76258 Miller Station Suite 386\nLake Heatherpo...
2,2,74960.767664,6.467532,6.483896,3.27,35918.893782,"7925 Rebecca Cliff Apt. 790\nEast Amanda, OH 8..."
3,3,71309.250170,7.513611,8.409303,4.35,32356.997377,"701 Michael Courts\nLake Diamondchester, ND 59..."
4,4,68898.345913,6.787649,7.871353,6.39,39515.571562,"777 Ross Crossroad\nKaiserville, RI 24445"

In [ ]:
data.shape

(3500, 7)

In [ ]:
data.isnull().any()

Unnamed: 0                      False
Avg. Area Income                False
Avg. Area House Age             False
Avg. Area Number of Rooms       False
Avg. Area Number of Bedrooms    False
Area Population                 False
Address                         False
dtype: bool

In [ ]:
data['Address'].values

array(['80638 Samantha Village\nNorth Anthony, KS 58656-6462',
       '76258 Miller Station Suite 386\nLake Heatherport, NM 29988',
       '7925 Rebecca Cliff Apt. 790\nEast Amanda, OH 89218-7005', ...,
       'PSC 1520, Box 7020\nAPO AE 71780-5009',
       '8337 Cody Fields Apt. 592\nTinafurt, GU 56684-5907',
       '785 Patel Knolls Suite 740\nSouth Stacey, VI 42709-5391'],
      dtype=object)

In [ ]:
merged_df = pd.merge(data, data_ans, on='Unnamed: 0')

In [ ]:
merged_df.head(3)

,Unnamed: 0,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Address,Price
0,0,71043.313249,6.046182,6.095862,3.34,20763.604137,"80638 Samantha Village\nNorth Anthony, KS 5865...",9.551656e+05
1,1,65632.925982,6.420381,5.929531,4.43,42803.221409,76258 Miller Station Suite 386\nLake Heatherpo...,1.184527e+06
2,2,74960.767664,6.467532,6.483896,3.27,35918.893782,"7925 Rebecca Cliff Apt. 790\nEast Amanda, OH 8...",1.268135e+06

In [ ]:
merged_df = merged_df.rename(columns={'Unnamed: 0': 'index',
                          'Avg. Area Income': 'income',
                          'Avg. Area House Age': 'age',
                          'Avg. Area Number of Bedrooms': 'number_bedrooms',
                          'Area Population': 'population',
                         'Avg. Area Number of Rooms': 'number_rooms'})

In [ ]:
merged_df = merged_df.drop(['Address', 'index'], axis=1)

In [ ]:
merged_df.head()

,income,age,number_rooms,number_bedrooms,population,Price
0,71043.313249,6.046182,6.095862,3.34,20763.604137,9.551656e+05
1,65632.925982,6.420381,5.929531,4.43,42803.221409,1.184527e+06
2,74960.767664,6.467532,6.483896,3.27,35918.893782,1.268135e+06
3,71309.250170,7.513611,8.409303,4.35,32356.997377,1.752968e+06
4,68898.345913,6.787649,7.871353,6.39,39515.571562,1.530124e+06

<h2> Модель и загрузка решения </h2>

In [ ]:
from sklearn.linear_model import Ridge
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression


X = merged_df.drop('Price', axis=1)
y = merged_df['Price']


scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

ridge = Ridge(alpha=42.0)
ridge.fit(X_scaled, y)
X_regularized = ridge.predict(X_scaled).reshape(-1, 1)

X_train, X_test, y_train, y_test = train_test_split(X_regularized, y, test_size=0.2, random_state=42)

linear_regression = LinearRegression()
linear_regression.fit(X_train, y_train)

LinearRegression()

In [ ]:
data_for_test = data_for_test.drop(columns=['Address', 'Unnamed: 0'], axis=0)
data_for_test = data_for_test.rename(columns={
                          'Avg. Area Income': 'income',
                          'Avg. Area House Age': 'age',
                          'Avg. Area Number of Bedrooms': 'number_bedrooms',
                          'Area Population': 'population',
                         'Avg. Area Number of Rooms': 'number_rooms'})

In [ ]:
X_new_scaled = scaler.transform(data_for_test)
X_new_regularized = ridge.predict(X_new_scaled).reshape(-1, 1)
predictions = linear_regression.predict(X_new_regularized)

In [ ]:
id = [i for i in range(len(predictions))]
for_ans = {'id': id, 'Predicted': predictions}

In [ ]:
ans = pd.DataFrame(data=for_ans)

In [ ]:
ans.to_csv('result.csv', index=False)

In [ ]:
result = pd.read_csv('result.csv')

In [ ]:
result

        id     Predicted
0        0  1.117663e+06
1        1  7.937285e+05
2        2  1.116337e+06
3        3  1.548366e+06
4        4  1.336276e+06
...    ...           ...
1495  1495  1.037727e+06
1496  1496  1.824481e+06
1497  1497  1.408153e+06
1498  1498  1.338865e+06
1499  1499  9.142697e+05

[1500 rows x 2 columns]

<h2> Попытка перебора параметров для модели регрессии </h2>

In [ ]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

ridge = Ridge()
alpha = [round(x * 0.1, 1) for x in range(1, 61)]
param_grid = {'alpha': alpha}

grid_search = GridSearchCV(ridge, param_grid, cv=5)

grid_search.fit(X, y)

print(grid_search.best_params_['alpha'])

2.6